fastapi
uvicorn
python-multipart

chromadb
onnxruntime

numpy
scikit-learn
scipy

PyMuPDF
beautifulsoup4

requests
python-dotenv

groq

pydantic
pydantic-core
typing-extensions

orjson
regex

httpx
h11
watchfiles
